USE [master]
GO
/****** Object:  Database [QLDSV_HTC]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE DATABASE [QLDSV_HTC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV_HTC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLDSV_HTC.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDSV_HTC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLDSV_HTC_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV_HTC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV_HTC]
GO
USE [QLDSV_HTC]
GO
/****** Object:  User [TEST]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE USER [TEST] FOR LOGIN [TEST] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HTKN]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SV]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [SV]
GO
/****** Object:  DatabaseRole [PKT]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [PKT]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_E9D75180C63E490B8DDF35FFD50E53D9]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [MSmerge_E9D75180C63E490B8DDF35FFD50E53D9]
GO
/****** Object:  DatabaseRole [MSmerge_92CF71A461CC4DF789E8C39D48CA7644]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [MSmerge_92CF71A461CC4DF789E8C39D48CA7644]
GO
/****** Object:  DatabaseRole [MSmerge_68BD3B6E016047ED939D96F7467ECACB]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [MSmerge_68BD3B6E016047ED939D96F7467ECACB]
GO
/****** Object:  DatabaseRole [KHOA]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE ROLE [KHOA]
GO
ALTER ROLE [PGV] ADD MEMBER [TEST]
GO
ALTER ROLE [db_owner] ADD MEMBER [TEST]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [TEST]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [TEST]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SV]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SV]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [PKT]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [PKT]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PKT]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [PKT]
GO
ALTER ROLE [db_owner] ADD MEMBER [PGV]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [PGV]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [PGV]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_E9D75180C63E490B8DDF35FFD50E53D9]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_92CF71A461CC4DF789E8C39D48CA7644]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_68BD3B6E016047ED939D96F7467ECACB]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [KHOA]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [KHOA]
GO
ALTER ROLE [db_datareader] ADD MEMBER [KHOA]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKY]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE TYPE [dbo].[TYPE_DANGKY] AS TABLE(
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL
)
GO
/****** Object:  View [dbo].[Get_Subcriber]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Get_Subcriber]
AS 
SELECT        PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM            dbo.sysmergepublications AS PUBS INNER JOIN
                         dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_565577053]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_565577053] ON [dbo].[CT_DONGHOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_597577167]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_597577167] ON [dbo].[DANGKY]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_629577281]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_629577281] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_661577395]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_661577395] ON [dbo].[HOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_693577509]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_693577509] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_725577623]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_725577623] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_757577737]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_757577737] ON [dbo].[LOPTINCHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_805577908]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_805577908] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MALOP]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_MALOP] ON [dbo].[SINHVIEN]
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_837578022]    Script Date: 6/2/2022 7:55:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_837578022] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_4797579B94DD4E64BA33C143516F821D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_72590C43544B42BCA58E10E5A539753E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_0485D3E74F1944588A10C4428119A228]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_D5F4EB72162E4813B842ADECF77325A2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_E544A57CA60145B9B0F0F3A0FE0CA377]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_F95560D4D6354E36BF04CFB4C260E26C]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_0DDAEE1B40FF4AB999EDBCD78E095857]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_DA4F4F6A6D814614A38B0EC0DC02DE01]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_7DCE3862B67B44E2BE912DAEFD971A2F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_BEB7E470_9E26_4DAC_B893_D68EBEB16C4C] CHECK NOT FOR REPLICATION (([MALTC]>(8) AND [MALTC]<=(1008) OR [MALTC]>(1008) AND [MALTC]<=(2008)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_BEB7E470_9E26_4DAC_B893_D68EBEB16C4C]
GO
/****** Object:  StoredProcedure [dbo].[SP_DSSV_DANGKY_GET]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSSV_DANGKY_GET]
  @MALTC INT
 AS
BEGIN
	SELECT 
	DK.MASV, 
	HOTEN=SV.HO+' '+SV.TEN,
	DK.DIEM_CC,
	DK.DIEM_GK,
	DK.DIEM_CK 
	FROM DANGKY AS DK 
	JOIN SINHVIEN AS SV
	ON SV.MASV = DK.MASV
	WHERE DK.MALTC = @MALTC AND (HUYDANGKY IS NULL OR HUYDANGKY = 0)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_In_Bang_Diem_Mon_Hoc]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_In_Bang_Diem_Mon_Hoc]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@NHOM INT,
@MAMH NCHAR(10)
AS 
BEGIN
SELECT SINHVIEN.MASV,HO,TEN,DK.*
FROM SINHVIEN,
(
SELECT DANGKY.MASV,DANGKY.DIEM_CC,DANGKY.DIEM_GK,DANGKY.DIEM_CK
FROM DANGKY ,(SELECT MALTC FROM LOPTINCHI
WHERE NIENKHOA =@NIENKHOA
AND HOCKY=@HOCKY
AND NHOM=@NHOM
AND MAMH=@MAMH) AS LOPTC
WHERE LOPTC.MALTC=DANGKY.MALTC
AND HUYDANGKY=0
) AS DK
WHERE SINHVIEN.MASV=DK.MASV
ORDER BY SINHVIEN.HO,SINHVIEN.TEN
END


GO
/****** Object:  StoredProcedure [dbo].[SP_In_Danh_Sach_Lop_Tin_Chi_Da_Mo]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_In_Danh_Sach_Lop_Tin_Chi_Da_Mo]
@NIENKHOA NCHAR(9),@HOCKY INT
AS 
BEGIN
SELECT LOPTC2.TENMH,LOPTC2.NHOM,LOPTC2.HOTENGV,LOPTC2.SOSVTOITHIEU, COUNT(MASV) AS SOSVDADANGKY
 FROM DANGKY
 RIGHT JOIN 
 (
SELECT LOPTC1.TENMH,LOPTC1.NHOM,HO +' '+ TEN AS HOTENGV,LOPTC1.SOSVTOITHIEU,LOPTC1.MALTC 
  FROM GIANGVIEN,
  (
  SELECT TENMH,LOPTC.NHOM,LOPTC.MAGV,LOPTC.MALTC,LOPTC.SOSVTOITHIEU
 FROM MONHOC, (SELECT MAMH,NHOM,MAGV,MALTC,SOSVTOITHIEU  FROM LOPTINCHI WHERE NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY AND HUYLOP=0 ) AS LOPTC
 WHERE  LOPTC.MAMH=MONHOC.MAMH 
  ) AS LOPTC1
  WHERE LOPTC1.MAGV=GIANGVIEN.MAGV
) AS LOPTC2
ON LOPTC2.MALTC=DANGKY.MALTC
GROUP BY LOPTC2.MALTC,LOPTC2.TENMH,LOPTC2.NHOM,LOPTC2.HOTENGV,LOPTC2.SOSVTOITHIEU
ORDER BY LOPTC2.TENMH,LOPTC2.NHOM  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_In_DS_Dong_Hoc_Phi_Cua_Lop]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_In_DS_Dong_Hoc_Phi_Cua_Lop]
AS 
BEGIN
--NIENKHOA='2015-2019'
--HOCKY=1
--MALOP='D15CQCP01'
SELECT HP.*,ISNULL(SUM(CTHP.SOTIENDONG),0) AS SOTIENDADONG
FROM CT_DONGHOCPHI AS CTHP RIGHT JOIN
(
SELECT SV.MASV,SV.HOTEN,HP.NIENKHOA,HP.HOCKY,HP.HOCPHI
FROM  (SELECT MASV,NIENKHOA,HOCPHI,HOCKY FROM HOCPHI WHERE NIENKHOA='2015-2019' AND HOCKY=1) AS HP JOIN
(SELECT MASV,HO+TEN AS HOTEN FROM SINHVIEN WHERE MALOP='D15CQCP01') AS SV
ON
HP.MASV=SV.MASV
) AS HP
ON CTHP.MASV=HP.MASV
AND CTHP.HOCKY=HP.HOCKY
AND CTHP.NIENKHOA=HP.NIENKHOA
GROUP BY HP.MASV,HP.HOTEN,HP.NIENKHOA,HP.HOCKY,HP.HOCPHI



END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Danh_Sach_LTC]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Danh_Sach_LTC]
@NIENKHOA NCHAR(9),@HOCKY INT
AS
BEGIN
SELECT LOPTC2.MALTC,LOPTC2.MAMH,LOPTC2.TENMH,LOPTC2.NHOM,LOPTC2.HOTENGV, COUNT(MASV) AS SOSVDADANGKY
 FROM DANGKY
 RIGHT JOIN 
 (
SELECT LOPTC1.*, HO +' '+ TEN AS HOTENGV
  FROM GIANGVIEN,
  (
  SELECT LOPTC.*,TENMH
 FROM MONHOC, (SELECT MAMH,NHOM,MAGV,MALTC  FROM LOPTINCHI WHERE NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY AND HUYLOP=0) AS LOPTC
 WHERE  LOPTC.MAMH=MONHOC.MAMH
  ) AS LOPTC1
  WHERE LOPTC1.MAGV=GIANGVIEN.MAGV
) AS LOPTC2
ON LOPTC2.MALTC=DANGKY.MALTC
GROUP BY LOPTC2.MALTC,LOPTC2.MAMH,LOPTC2.TENMH,LOPTC2.NHOM,LOPTC2.HOTENGV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Hoc_Phi]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Hoc_Phi]
@MASV NCHAR(10)
AS 
BEGIN
 SELECT HP.*,ISNULL(SUM(CTHP.SOTIENDONG),0) AS SOTIENDADONG
 FROM (SELECT MASV,NIENKHOA,HOCKY,HOCPHI FROM HOCPHI WHERE MASV=@MASV) AS HP LEFT JOIN CT_DONGHOCPHI AS CTHP
 ON CTHP.MASV=@MASV
 AND HP.HOCKY=CTHP.HOCKY
 AND HP.NIENKHOA=CTHP.NIENKHOA
 GROUP BY HP.MASV,HP.NIENKHOA,HP.HOCKY,HP.HOCPHI
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MAGV NVARCHAR(100)
SELECT @UID= uid , @MAGV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MAGV= @MAGV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MAGV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)

GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_SV_Dong_HP]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_SV_Dong_HP]
  @MASV NCHAR(10)
 AS
BEGIN
	SELECT MASV, HOTEN=SV.HO+' '+SV.TEN,SV.MALOP FROM SINHVIEN AS SV WHERE MASV=@MASV AND DANGHIHOC=0
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SinhVien_Login]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SinhVien_Login]
 @MASV NCHAR(10)
AS
BEGIN
 SELECT MASV,HO +' ' + TEN as HOTEN,PASSWORD FROM SINHVIEN WHERE @MASV=MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIEM]    Script Date: 6/2/2022 7:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UPDATE_DIEM]
@DIEMTHI TYPE_DANGKY READONLY
AS
BEGIN
 MERGE INTO DANGKY AS TARGET
 USING (SELECT MALTC,MASV,DIEM_CC,DIEM_GK,DIEM_CK FROM @DIEMTHI) AS SOURCE
 ON TARGET.MALTC = SOURCE.MALTC AND TARGET.MASV = SOURCE.MASV
 WHEN MATCHED THEN
	UPDATE SET TARGET.DIEM_CC = SOURCE.DIEM_CC,TARGET.DIEM_GK = SOURCE.DIEM_GK,TARGET.DIEM_CK = SOURCE.DIEM_CK
	WHEN NOT MATCHED THEN
	INSERT (MALTC,MASV,DIEM_CC,DIEM_GK,DIEM_CK) VALUES(SOURCE.MALTC,SOURCE.MASV,SOURCE.DIEM_CC,SOURCE.DIEM_GK,SOURCE.DIEM_CK);
END
GO
USE [master]
GO
